
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure Reports
/allure-results/
/allure-report/

# Logs
/logs/
*.log

#Environmental  variables
.env


// private files
ONBOARDING_GUIDE.md
DEMO_PRESENTATION.md
demo.sh
QUICK_REFERENCE.md
HOW_TO_PRESENT.md
